@import './variables';
.bg {
  background-color: $ternary;
  color: $text-primary;
  .header-grid {
    display: grid;
    grid-template-rows: 58px calc(100vh - 58px);
    grid-template-areas: 'header', 'section';
    .header {
      * {
        height: 100%;
      }
      grid-area: 'header';
      background-color: $primary;
      .header-mx-w {
        padding: 0 3%;
        margin: 0 auto;
        max-width: 1200px;
        .header-align {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .header__logo {
            width: 40px;
            height: 40px;
            .logo {
              width: 100%;
              height: 100%;

              svg {
                fill: $text-primary;
                width: 100%;
                height: 100%;
              }
            }
          }
          .header__navbar {
            .navbar {
              .navbar__list {
                display: flex;
                align-items: center;
                list-style: none;
                * {
                  height: unset;
                }
                .navbar__tab {
                  &:nth-last-child(1) {
                    .navbar__link {
                      font-weight: bold;
                      border-radius: 5px;
                      padding: 5px 30px;
                      background-color: $pink;
                      font-size: 15px;
                      transition: box-shadow 500ms ease;
                      &:hover {
                        box-shadow: 0 0 5px 5px $pink;
                      }
                    }
                  }
                  .navbar__link {
                    font-size: 10px;
                    margin-left: 20px;
                    text-decoration: none;
                    color: $text-primary;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.section {
  grid-area: 'section';

  .section-scroll {
    height: 100%;

    overflow: auto;
    overflow-x: hidden;
  }
  .section-mx-w {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 3%;
    height: 100%;

    .section-align {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      .section__form {
        max-width: 500px;
        width: 100%;
        height: 100%;
        max-height: 500px;
        padding: 20px 10px;
        text-align: center;
        h2 {
          margin-bottom: 20px;
        }
        .form-group {
          margin: 10px 0;
          &.form-group-2 {
            display: flex;
          }
          .form-inp-1 {
            border: 0;
            border-radius: 15px;
            padding: 10px 30px;
            width: 100%;
            max-width: 500px;
            &.form-inp-2 {
              &:nth-child(1) {
                margin-right: 8px;
              }
            }
          }
          .form-btn {
            cursor: pointer;
            margin-top: 20px;

            width: 100%;
            max-width: 300px;

            font-weight: bold;

            padding: 5px 20px;
            border: 0;
            border-radius: 8px;
            color: $text-primary;
            background-color: $pink;
            transition: 500ms box-shadow ease;
            &:hover {
              box-shadow: 0 0 5px 5px $pink;
            }
          }
          .form-message {
            user-select: none;
            margin-top: 20px;

            .success-message {
              color: $success;
              text-shadow: 0 0 10px $success;
            }
            .error-message {
              color: $error;
              text-shadow: 0 0 10px $error;
            }
          }
        }
      }
    }
  }
}
